.modalContainer {
  height: 300px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 40%;
  overflow: hidden;
  pointer-events: none;
  background-color: yellow;
  border-radius: 5%;
}
.modalSlider {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  will-change: transform;
  transform: translateZ(0);
}
.model {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.model img {
  height: 60%;
}
