.Recentwork {
  z-index: 10;
  background-color: white;
  position: relative;
  min-height: 100vh;
  color: black;

  .projects {
    display: flex;
    width: 100%;
    padding: 40px 100px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(201, 201, 201);
    cursor: pointer;
    transition: all 0.2s linear;
  }

  .projects h1 {
    font-size: 60px;
    font-weight: 400;
    margin: 0;
    transition: all 0.2s linear;
  }

  .projects span {
    font-weight: 300;
  }

  .projects:hover {
    opacity: 0.4;
  }

  .projects:hover h1 {
    transform: translateX(-10px);
  }

  .projects:hover span {
    transform: translateX(10px);
  }

  .circleContainer {
    position: relative;
    margin-top: 100px;

    .circle {
      box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.748);
      position: absolute;
      width: 120%;
      height: 1500%;
      left: -10%;
      border-radius: 0% 0% 50% 50%;
      z-index: 1;
      background-color: white;
    }
  }
}

/* ========================= */
/* ===== Tailwind SM ======= */
/* ========================= */
@media (max-width: 639px) {
  .Recentwork {
    min-height: auto;
    .projects {
      padding: 24px 30px;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }

    .projects h1 {
      font-size: 32px;
    }

    .projects span {
      font-size: 14px;
    }

    .circleContainer {
      height: none;
      .circle {
        display: none;
      }
    }
  }
}

/* ========================= */
/* ===== Tailwind MD ======= */
/* ========================= */
@media (min-width: 640px) and (max-width: 1023px) {
  .Recentwork {
    height: auto;
    .projects {
      padding: 32px 50px;
    }

    .projects h1 {
      font-size: 44px;
    }

    .circleContainer {
      display: none;
    }
  }
}

/* ========================= */
/* ===== Tailwind LG ======= */
/* ========================= */
@media (min-width: 1024px) {
  .Recentwork {
    .projects {
      padding: 40px 100px;
    }

    .projects h1 {
      font-size: 60px;
    }

    .circleContainer {
      .circle {
        height: 1500%;
      }
    }
  }
}
