@import "tailwindcss";

@font-face {
  font-family: "montreal";
  src:
    local("ppneuemontreal-book"),
    url("./fonts/ppneuemontreal-book.otf") format("opentype");
  font-weight: normal;
}
body {
  overflow-x: hidden;
}
/* Mask edges so items fade in/out instead of abruptly cutting off */
.marquee-mask {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

/* Scrolling track */
.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee var(--duration, 30s) linear infinite;
}

/* Reverse mode */
.marquee-track[data-reverse="true"] {
  animation-direction: reverse;
}
.marquee-mask:hover .marquee-track {
  animation-play-state: paused;
}
@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.5s ease-out forwards;
}
